<!DOCTYPE html>
<html lang="pt"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8"/>
    <title>Playe</title>
</head>

<body>
<header layout:fragment="menu-navbar">
    <nav>
        <div class="nav-wrapper purple lighten-3">
            <a class="brand-logo center"><img class="materialboxed" width="140" th:src="@{/img/homeflix.png}"></a>
            <ul id="nav-mobile" class="left hide-on-med-and-down">
                <li><a th:href="@{/}">Incio</a></li>
                <li><a th:href="@{/series}">Séries</a></li>
                <li><a th:href="@{/films}">Filmes</a></li>
            </ul>
        </div>
    </nav>
</header>
<section layout:fragment="body">
    <div class="container">
        <!-- Lista de Séries -->
        <div class="row">
            <div class="col s12">
                <h2>Filmes</h2>
                <ul class="collection">
                    <li th:each="film : ${films}" class="collection-item">
                        <a th:href="@{'/player/films?videoName=' + ${film}}" th:text="${film}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</section>
</body>

</html>