/* ----------------Tudo---------------- */
.text-menu-header {
	font-size: 30pt;
}

.menu-lateral {
	padding-top: 2.5%;
}

.body-principal {
	padding-left: 10px;
	margin-left: 290px;
}

.style-table {
	border: 1px solid black;
	box-shadow: 2px 2px 2px 0.5px white;
}

body {
    background: black;
}

logged-user {
    text-transform: uppercase;
}
/* ------------------------------------ */


/* ----------------Pagina inicial---------------- */
.home-logo {
    border-radius: 50%;
    margin-left: 44%;
    margin-top: 4%;
    width: 440px;
}
/* ---------------------------------------------- */


/* ----------------Estilos dos bot�es---------------- */
#btn-cad-evento {
	margin-top: 1%;
	margin-bottom: -1%;
	margin-right: 1%;
}

#btn-svr-evento {
	margin-top: 2.3%;
	margin-right: 2.4%;
}
/* -------------------------------------------------- */


/* ----------------Detalhes venda evento---------------- */

/*--------Span error--------*/
.error-span{
	color: white;
    background: red;
    padding: 0.3%;
    border-radius: 20px;
    text-align: center;
}
/*--------------------------*/

/*--------Span success--------*/
.success-span{
	color: white;
    background: green;
    padding: 0.6% !important;
    border-radius: 20px;
    text-align: center;
    margin-top: 0.5%;
}

.error-span{
	color: white;
    background: red;
    padding: 0.6% !important;
    border-radius: 20px;
    text-align: center;
    margin-top: 0.5%;
}
/*----------------------------*/
